@import "tailwindcss";

/* -- LIGHT THEME (DEFAULT) -- */
:root {
  --background: 235, 240, 240;
  --foreground: 15 23 42;
  --card: 255 255 255;
  --border: 226 232 240;
  --primary: 37 99 235;
  --text: 30 41 59;
  --dashboard-card-bg: 243 244 246;
  --dashboard-card-bg-lite: 255 255 255;
  --dashboard-card-text: 255 255 255;
}

/* --- DARK THEME --- */
.dark {
  --background: 2 6 23;
  --foreground: 248 250 252;
  --card: 15 23 42;
  --border: 51 65 85;
  --primary: 59 130 246;
  --text: 255 255 255;
  --dashboard-card-bg: 31 41 55;
  --dashboard-card-bg-lite: 52 67 90;
  --dashboard-card-text: 9 9 16;
}



